.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 84px;
  margin-bottom: 56px;
}

.formRow {
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: flex-end;
  gap: 18px;
  flex-wrap: wrap;
}

.field {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
}

.field label {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #8d929a;
  margin-bottom: 8px;
  line-height: 133%;
}

.mileageInputs {
  font-family: "Manrope", sans-serif;
  display: flex;
  background-color: #f7f7fb;
  border-radius: 14px;
  overflow: hidden;
}

.mileageInputs input {
  font-family: "Manrope", sans-serif;
  border-radius: 12px 0 0 12px;
  padding-left: 24px;
  width: 160px;
  height: 44px;
  background: #f7f7f7;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
}

.mileageInputs input:first-child {
  border-right: 1px solid #e4e7ec;
}

.searchButton {
  font-family: "Manrope", sans-serif;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: #3470ff;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.searchButton:hover {
  background-color: #2554cc;
}
